<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="foo4" class="com.laozhang.max_springboot_learn.dto.Foo4">
        <property name="name" value="测试"></property>
    </bean>
</beans>
